.sunfest{
    background-color: red;
}
.entry-header{
    text-align: center;

h2{
    font-size: 172px;
    margin: 0;
    font-family: 'Mountains of Christmas',cursive;
    font-weight: 700;
    font-size: 120px;
    background: -webkit-linear-gradient(#00d0ff, #25ffbf);
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-clip: text;
    padding-top: 160px;
    }
}